<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timetoeat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SavedRecipes"></activity>
        <activity android:name=".ListGridRetrieve" />
        <activity android:name=".Upload_Recipe" />
        <activity android:name=".PersonalRecipe" />
        <activity
            android:name=".Preferences"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".RecipeRecommend" />
        <activity android:name=".StartPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".GroceryListFinal" />
        <activity android:name=".ToBuyList" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".RecipeSearch"
            android:label="Recipe Search"
            android:parentActivityName=".MainActivity">

            <!-- meta-data for to support v4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.timetoeat.MainActivity" />
        </activity>
        <activity
            android:name=".RecipeDetail"
            android:label="Recipe Details"
            android:parentActivityName=".RecipeSearch">

            <!-- meta-data for to support v4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.timetoeat.RecipeSearch" />
        </activity>

        <receiver android:name=".ReminderBreakfast" />
        <receiver android:name=".ReminderLunch" />
    </application>

</manifest>